body{
    display: flex;
    margin: 0;
}

#background-container{
    background-color: rgb(37, 37, 37);
    width: 40vw;
    height: 100vh;
}

#content{
    display: flex;
    flex-direction: column;
    background-color: gray;
    width: 100vw;
    height: 100vh;
}

#top-container{
    background-color: #DDDDDD;
    height: 30vh;
}

#form-container{
    background-color: white;
    height: 40vh;
}

#bottom-container{
    background-color: #DDDDDD;
    height: 30vh;
}